{{template "base" .}}

{{define "content"}}
    <div class="vontainer">
        <div class="row">
            <div class="col">
                <h1>This is the about page</h1>
                <h3>new text</h3>

                <p>This came from the template: {{index .StringMap "test"}}</p>

                <p>
                    {{if ne (index .StringMap "remote_ip") ""}}
                        Your remote IP is {{index .StringMap "remote_ip"}}
                    {{else}}
                        I don't know your ip yet, visit the <a href="/">Home page</a> so i ca set it.
                    {{end}}
                
                </p>
            </div>
        </div>
    </div>
{{end}}