{{template "base" .}}

{{define "content"}}
    <div class="vontainer">
        <div class="row">
            <div class="col">
                <h1>This is the home bout page</h1>
                <h3>this is some text</h3>

                </div>
        </div>
    </div>
{{end}}